[12/09/2022] **Penulisan ini diupdate** - Pembaruan isi dokumen dan materi pembelajaran.

## **MINI QUIZ**

**SOAL 1**

Sekarang kamu melakukan perhitungan revenue yang sudah dikerjakan pada di **day-3** dengan melakukan klasifikasi berikut ini:
1. 'High' apabila revenue lebih dari 100
2. 'Low' apabila revenue kurang dari 50

Silahkan kamu mencoba sesuai hasil dibawah ini, dan ikuti tahapannya ya!

In [ ]:
# 1. Melihat isi dataset
sql(
"""

"""
)

   order_id  product_id  unit_price  quantity  discount
0     10248          11        14.0        12       0.0
1     10248          42         9.8        10       0.0
2     10248          72        34.8         5       0.0
3     10249          14        18.6         9       0.0
4     10249          51        42.4        40       0.0

In [4]:
# 2. Membuat column baru bernama total sebagai unit_price*quantity-discount
sql(
"""
SELECT *, ROUND(unit_price*quantity-discount) total
FROM order_details
LIMIT 5
"""
)

   order_id  product_id  unit_price  quantity  discount   total
0     10248          11        14.0        12       0.0   168.0
1     10248          42         9.8        10       0.0    98.0
2     10248          72        34.8         5       0.0   174.0
3     10249          14        18.6         9       0.0   167.0
4     10249          51        42.4        40       0.0  1696.0

In [ ]:
# 3. Melakukan perhitungan total revenue dan ada tulisan USD
sql(
"""

"""
)

         total
0  USD 1354338

In [ ]:
# 4. Melakukan perhitungan revenue berdasarkan order_id
sql(
"""

"""
)

   order_id        total
0     10248   439.999998
1     10249  1863.400064
2     10250  1812.700040
3     10251   670.699986
4     10252  3729.900153

In [ ]:
# 5. Membuat pengelompokan data berdasarkan soal utama
sql(
"""

"""
)

   order_id        total remarks
0     10248   439.999998    High
1     10249  1863.400064    High
2     10250  1812.700040    High
3     10251   670.699986    High
4     10252  3729.900153    High

Jika lebih dari satu tabel

```sql
SELECT * FROM order_details as t1 [MAIN TABLE]
JOIN products as t2 ON t2.product_id = t1.product_id [MAIN TABLE = SECOND TABLE]
WHERE 
....
INNER JOIN orders as t3 ON t3.order_id = t1.order_id [MAIN TABLE = THIRD TABLE]
INNER JOIN customers ON order_details.customer_id = customers.customer_id [MAIN TABLE = FOURTH TABLE]
INNER JOIN prices ON order_details......
....
LIMIT 5;
```

Sekarang, kamu lakukan perhitungan biaya transaksi (unit_price) setelah tahun 1998-04-01 sesuai hasil berikut ini.

In [ ]:
# Silahkan isikan bagian yang kosong
sql(
"""

""")

         avg
0  25.926376