[12/09/2022] **Penulisan ini diupdate** - Pembaruan isi dokumen dan materi pembelajaran.

## **BAGIAN 4: UNION**

Ini digunakan untuk mengabungkan seluruh row tanpa mempedulikan key_column, dengan catatan:
1. Setiap hasil dari SELECT statement yang akan digabungkan (UNION) memiliki jumlah kolom yang sama (Conforming). Ini artinya perlu menyelaraskan urutan kolom yang dimiliki ya!
2. Kolom tersebut juga harus memiliki tipe data yang sama, dan
3. Kolom tersebut memiliki urutan posisi yang sama.

In [ ]:
sql(
"""
SELECT * FROM order_details
UNION 
SELECT * FROM order_details
LIMIT 5;
""")

   order_id  product_id  unit_price  quantity  discount
0     10805          34        14.0        10      0.00
1     10486          74         8.0        16      0.00
2     10688          10        31.0        18      0.10
3     10734          76        18.0        20      0.00
4     10863           1        18.0        20      0.15

In [ ]:
# QUICK ANSWER
# Carilah ada berapa kota german yang dituju berdasarkan behavior customer dan orders?
# Jawaban ada dibawah!
sql(
"""

""")

              city  country
0        Stuttgart  Germany
1        Cunewalde  Germany
2         Mannheim  Germany
3          München  Germany
4          Münster  Germany
5           Berlin  Germany
6          Leipzig  Germany
7   Frankfurt a.M.  Germany
8      Brandenburg  Germany
9           Aachen  Germany
10            Köln  Germany

In [ ]:
# QUICK ANSWER
# Carilah ada berapa total perjalanan german yang dituju berdasarkan behavior customer dan orders?
sql(
"""

""")

   count
0    122

**FIN**