[12/09/2022] **Penulisan ini diupdate** - Pembaruan isi dokumen dan materi pembelajaran.

## **MINI QUIZ**

### **STEP 1**

Setelah kamu mempelajari bagaimana mengakses database. Silahkan kamu berikut ini:

1. Ambil secara keseluruhan tabel customer.
2. Tampilkan hanya kolom contact_name, company_name dari tabel customer.
3. Apakah kolom customer sudah unique semua?

In [ ]:
# Silahkan coba disini

### **STEP 2**

Mari coba jawab berikut ini.
1. Silahkan tampilkan total biaya penyimpanan (unit_price x unit_in_stock) yang lebih besar dari 500 dollar, dan diurutkan dari terbesar ya dengan membatasi 5 saja!
2. Silahkan tampilkan biaya transaksi (unit_price - discount) per produk yang lebih besar dari 50 dollar, dan diurutkan dari terbesar ya dengan membatasi 5 saja!

In [ ]:
# Jawaban 1
sql("""

""")

                product_name  unit_price  units_in_stock   total
0              Côte de Blaye       263.5              17  4479.5
1       Raclette Courdavault        55.0              79  4345.0
2  Queso Manchego La Pastora        38.0              86  3268.0
3     Sir Rodney's Marmalade        81.0              40  3240.0
4             Sirop d'érable        28.5             113  3220.5

In [ ]:
# Jawaban 2
sql("""

""")

   product_id         total
0          38  15810.000000
1          38  15809.950000
2          38  10540.000153
3          38  10540.000000
4          38  10539.800153

In [ ]:
# Tampilkan product_id 38
sql("""

""")

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
0,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.5,17,0,15,0