[12/09/2022] **Penulisan ini diupdate** - Pembaruan isi dokumen dan materi pembelajaran.

## **BAGIAN 4: Prefix dan Alias**

Mari kita belajar memahami prefix dan alias yang sebagai berikut ini:
1. **Prefix**, dimana kita akan menambahkan nama tabel di depan nama kolom.
2. **Alias**, dimana kita memberikan alias atau nama lain untuk tabel maupun kolom.

Sebagai contoh:

```sql
SELECT tab.column_name1 AS col1, tab.column_name2 FROM table_name AS tab
```

Ingat, bahwa:
1. Prefix dituliskan **"tab"**
2. Alias diawali **AS**

Peraturan dalam penulisan prefix pada nama kolom:

```sql
SELECT table_name.column_name FROM table_name
```

In [ ]:
# prefix
sql('SELECT [1]______.ship_postal_code FROM orders LIMIT 5;')

  ship_postal_code
0            51100
1            44087
2        05454-876
3            69004
4           B-6000

Peraturan dalam penulisan alias:

```sql
SELECT column_name AS column_1 FROM table_name
```

In [ ]:
# alias
sql('SELECT ship_postal_code AS [1]_____ FROM orders LIMIT 5;')

  postalcode
0      51100
1      44087
2  05454-876
3      69004
4     B-6000

Selalu ada cara mengatasi AS dengan menghilangkan tulisan AS, sebagai berikut ini:

```sql
SELECT column_name column_1 FROM table_name
```

In [ ]:
# alias
sql('SELECT ship_postal_code [1]______ FROM orders LIMIT 5;')

      postal
0      51100
1      44087
2  05454-876
3      69004
4     B-6000

Cobalah dibawah ini dengan menggunakan table customers.

```sql
SELECT * AS column_1 FROM table_name
```

In [ ]:
# Tulis disini ya!

Gabungkan semua yang kamu pelajari!

```sql
SELECT table_name.column_name AS col1 FROM table_name
```

In [ ]:
# prefix dan alias
sql('SELECT [1]_____.ship_postal_code AS [2]_____ FROM orders LIMIT 5;')

  postalcode
0      51100
1      44087
2  05454-876
3      69004
4     B-6000

Peraturan perubahan alias tabel

```sql
SELECT column_name FROM table_name AS tab1 
```

In [ ]:
# table1
sql('SELECT [1]_____.ship_postal_code FROM orders AS [2]_____ LIMIT 5;')

  ship_postal_code
0            51100
1            44087
2        05454-876
3            69004
4           B-6000

Gabungkan semua yang kita pelajari!

```sql
SELECT tab1.column_name AS col1 FROM table_name AS tab1 
```

In [ ]:
sql('SELECT [1]_____.ship_postal_code AS [2]_____ FROM orders AS [3]_____ LIMIT 5;')

      postal
0      51100
1      44087
2  05454-876
3      69004
4     B-6000